html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


html {
    margin: 0;
    padding: 0;
    font-size: 125%;
    overflow-x: hidden;
}

.wrapper {
    margin: 30px auto;
    padding: 0;
    max-width: 1200px;
    width: 90%;
}

/* image ::after  
Stock Market Tracking And Stocks Photo
free image from https://burst.shopify.com/photos/stock-market-tracking-and-stocks?c=money
  */

  body {
  width: 100%;
  display: block;
  position: relative;
}
body:after  {
  background-image: url(./image/stock-market-tracking-and-stocks.jpg);
    opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  content: "";
}

.header-container {
  background-color: #4B6587;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
}

h1{
  font-family: 'Goldman', cursive;
  font-size: 4rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 2rem;
  margin-top: 45px;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
}

h3 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  line-height: 2.5rem;
}

p{
  letter-spacing: 2px;
}

button{
    position: relative;
    margin-left: 11px;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2;
    height: 1.6rem;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 100px;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
    outline: 0;
    text-transform: capitalize;
    background-color: #F0E5CF;
}

button:hover{
  background-color: rgb(208, 190, 190);
}

footer {
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 83px;
  background: #F0E5CF;
  font-weight: bold;
  font-style: normal;
  padding-top: 11px;
  font-size: 1,3rem;
  font-family: 'Merriweather', serif;
  clear: both;

}

a{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a:hover{
  color: rgb(99, 147, 199);
}


.newa-a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: #999384;
  padding: 5px;
  border-radius: 9%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newa-a:hover{
  text-decoration: none;
  color: rgb(247, 247, 247);
  font-weight: bold;
  background-color: cornflowerblue;
}


.txr-b{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(247, 246, 242, 0.556);
}


.bit-display{
  margin: 50px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(247, 246, 242, 0.556);
  }

.h3-img{
  padding: 15px;
  margin-top: 50px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid black;
  background-color: rgba(247, 246, 242, 0.556);
}

img{
  margin-bottom: 30px;
  margin-top: 25px;
}

.img-news{
  width: 80%;
  margin-bottom: 30px;
  margin-top: 25px;
}

.title{
  border: 2px solid black;
  width: 50%;
  background-color: rgba(184, 184, 184, 0.556);
  padding: 15px;
  border-radius: 15px;
}


/* MEDIA MEDIA QUERY */

@media (max-width: 1300px) {
    h2 {
    text-align: center;
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
}

@media (max-width: 1070px) {
  h3{
    font-size: 1.2rem;
  }
}

@media (max-width: 1030px) {
    h2 {
    text-align: center;
    font-size: 1.6rem;
  }
}

@media (max-width: 900px) {

  .wrapper {
      margin: 20px auto;
      padding: 0;
      max-width: 1000px;
      width: 90%;
  }

  .header-container{
    flex-direction: column;
  }

  .bit-display{
    width: 65%;
  }

  h1{
    font-size: 3rem;
  }

  h2 {
    text-align: center;
    font-size: 1.4rem;
  }

  form {
    margin-bottom: 20px;
  }
}

@media (max-width: 730px) {
    h2 {
    text-align: center;
    font-size: 1.3rem;
  }
  .bit-display {
  width: 75%;
}
}

@media (max-width: 685px) {
    h2 {
    text-align: center;
    font-size: 1.2rem;
  }
}

@media (max-width: 580px) {

  .wrapper {
      margin: 20px auto;
      padding: 0;
      max-width: 580px;
      width: 90%;
  }

  .bit-display {
  width: 85%;
}

h1{
  font-size: 2.2rem;
}

h3{
  font-size: 1.2rem;
  padding: 3px;
}

  h2 {
  font-size: 1.3rem;
}
  p{
  font-size: 1.2rem;
}

  img{
    width: 90%;
  }

}

@media (max-width: 425px) {

.wrapper {
    margin: 20px auto;
    padding: 0;
    max-width: 425px;
    width: 90%;
}

  h1{
  font-size: 1.5rem;
}

h3{
  font-size: 0.8rem;
  padding: 3px;
}

  h2 {
  font-size: 1.2rem;
}
  p{
  font-size: 1rem;
}

button{
  font-size: 0.9rem;

}

  footer{
    height: 82px;
    height: 1.3rem;
} 

}

